:root {
    /* --Prime: #509ba9;
    --LighterPrime: #78b4bf;
    --white: #f5f5f5;
    --Dark: #2e2e36;
    --NavGray: #393944;
    --Gold: #ffd700;
    --Alt: #e95c4b; */

    --Prime: #32E0C4;
    --DarkPrime: #0D7377;
    --LighterPrime: #EEEEEE;
    --white: #EEEEEE;
    --Dark: #212121;
    --Nav: #0D7377;
    --DarkNav: #333333;
    --DarkAlt: #bebebe;
    --Alt: #007f84;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
}

.wrapper {
    display: flex;
    background-color: var(--white);
}

.wrapper-dark {
    display: flex;
    background-color: var(--Dark);
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Nav);
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: 100vh;
}

.nav-container-dark {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--DarkNav);
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: 100vh;
}

.nav-ul-top {
    padding: 0.5em;
    align-items: center;
}

.nav-li {
    color: var(--white);
    list-style: none;
    padding: 0.7em 0em 0.7em 0em;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-li:hover {
    color: var(--Prime);
}

.nav-li-dark {
    color: var(--white);
    list-style: none;
    padding: 0.7em 0em 0.7em 0em;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-li-dark:hover {
    color: var(--DarkPrime);
}

.nav-ul-bottom {
    padding: 0.5em;
    align-items: center;
}

hr {
    display: inline-block;
    width: 2em;
    border: 1px solid var(--Prime);
    cursor: auto;
}

.main-content {
    color: var(--Dark);
}

.main-content-dark {
    color: var(--LighterPrime);
}

section {
    margin: 10px 0 10px 10px;
}

section h1 {
    margin: 10px 0 10px 0;
    /* color: var(--DarkAlt); */
    color: var(--Alt);
}

.dark-mode-btn {
    background-color: var(--Prime);
    color: var(--white);
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-size: 12px;
    border-style: none;
    cursor: pointer;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

.dark-mode-btn:hover {
    background-color: var(--white);
    color: var(--Prime);
}

.dark-mode-btn-dark {
    background-color: var(--DarkPrime);
    color: var(--white);
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-size: 12px;
    border-style: none;
    cursor: pointer;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

.dark-mode-btn-dark:hover {
    background-color: var(--white);
    color: var(--DarkPrime);
}

.nav-btn {
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    width: 40px;
    border-style: none;
    cursor: pointer;
    transition: color 0.3s;
    transition: background-color 0.3s;
    
}

.nav-btn:hover {
    color: var(--Prime);
}

#nav-btn-icon {
    color: var(--white);
    transition: color 0.3s;
    visibility: visible !important;
}

#nav-btn-icon:hover {
    color: var(--Prime);
}

